<html>
<head>
    <meta charset="UTF-8">
    <title>Sua Árvore de Decisão</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_tree.css') }}">
</head>
  <body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='edit_tree.js') }}"></script>
    <ul id="tree">
        <button onclick="closeAll()" class="btn btn-primary">Close</button>
        <li class="children">
            <div class="quadro-t pai">
                <i class="fas fa-plus-circle action-button"></i>
                <input type="text" class="input-text" value="First"/>
            </div>
        </li>
    </ul>
    </div>
  </body>
</html>