<html>
<head>
    <meta charset="UTF-8">
    <title>Sua Árvore de Decisão</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='edit_tree.css') }}">
</head>
  <body class="body">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='edit_tree.js') }}"></script>
    <ul>
        <button onclick="closeAll()" class="btn btn-primary">Fechar tudo</button>
        <div id="tree">

        </div>
    </ul>
    </div>
  </body>
</html>