<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'background.html' %}
    <img src="{{ character }}" alt="Image" class="character">
    <div class="character-name">{{ character_name }}</div>
    <div class="dialog" id="dialog"></div>
    <form class="options" method="POST">
        <button href="/game" name="button_yes" type="submit">Sim, estou certo disso.</button>
        <button href="/game" name="button_no" type="submit">A resposta é não.</button>
        <button href="/game" name="button_doubt" type="submit">Estou em dúvida.</button>
    </form>
</body>
<script type="text/javascript" src="static/typewriter.js"></script>
<script>printLetterByLetter("dialog", "{{comment}}Seu personagem tem olhos azuis?");</script>
</html>
