<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% include 'header.html' %}
    {% include 'background.html' %}
    <img src="{{ character }}" alt="Image" class="character">
    <div class="character-name">{{ character_name }}</div>
    <div class="dialog" id="dialog"></div>
    <div class="options">
        <form action="/game">
            <button>Vamos jogar.</button>
        </form>
    </div>
</body>
<script type="text/javascript" src="static/typewriter.js"></script>
<script>printLetterByLetter("dialog", "Está pronto para jogar?");</script>
</html>